<nav class="navbar navbar-convo navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="pull-left" [routerLink]="['/user', userId, 'matches']"><i class="fa fa-chevron-left"
                                                                        aria-hidden="true"></i></a>
    <a class="navbar-brand mx-auto" href="#">{{otherUser?.firstName}} , {{otherUser?.age}}</a><br>
  </div>
  <div class="container">
    <img class="mx-auto convo--image" src={{otherUser?.photo}}>
  </div>
</nav>
<div class="convo__date">
  <div class="container text-center">
    <p>Upcoming Date: 3pm on Friday @ <span>{{dateLocation?.name}}</span></p>
  </div>
</div>
<div class="convo__messages">
  <div *ngFor="let m of messages">
    <div class="container" *ngIf="m.sender != userId">
      <div class="row">
        <div class="col-8">
          <div class="convo__text convo__text--left">
            <div class="convo__text--body">
              <p>{{m.body}}</p>
            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="container" *ngIf="m.sender == userId">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="convo__text convo__text--right pull-right">
            <div class="convo__text--body">
              <p>{{m.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="(userId == match.user2 && match.user1HasBeenRated) || (userId == match.user1 && match.user2HasBeenRated)">
  <form (ngSubmit)='submitRating()' #f='ngForm'>
    <div [ngClass]="{'triggered': (userId == match.user2 && !match.user1HasBeenRated) || (userId == match.user1 && !match.user2HasBeenRated)}" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>How was your date with {{otherUser?.firstName}}?</p>
            <p>
              <span class="star-rating star-5">
                <input name="rating" type="radio" [(ngModel)]='rating' value=1><i></i>
                <input name="rating" type="radio" [(ngModel)]='rating' value=2><i></i>
                <input name="rating" type="radio" [(ngModel)]='rating' value=3><i></i>
                <input name="rating" type="radio" [(ngModel)]='rating' value=4><i></i>
                <input name="rating" type="radio" [(ngModel)]='rating' value=5><i></i>
              </span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Submit Rating</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="convo__input">
  <div class="container">
    <form (ngSubmit)='createMessage()' #f='ngForm'>
      <fieldset>
        <div class="row">
          <div class="col-8">
            <input [(ngModel)]='message' name='message' type='text' class='form-control' placeholder='Message'>
          </div>
          <div class="col-4">
            <button type='submit' class='btn btn-primary'>Send</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
