<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="pull-left" [routerLink]="['/user', this.userId]"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <a class="navbar-brand mx-auto" href="#">Account Settings</a>
  </div>
</nav>
<div class='container'>
  <form (ngSubmit)='updateUser()' #f='ngForm'>
    <fieldset class="form-group">
    <p>Username</p>
    <input name='username' [(ngModel)]='username' type='text' class='form-control' placeholder='Username' value={{user?.username}}>
    </fieldset>
    <fieldset class="form-group">
    <p>Password</p>
    <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Password' value='{{user?.password}}'>
    </fieldset>
    <fieldset class="form-group">
    <p>First Name</p>
    <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder='First Name' value="{{user?.firstName}}">
    </fieldset>
    <fieldset class="form-group">
    <p>Age</p>
    <input name='age' [(ngModel)]='age' type='number' class='form-control' placeholder='Age' value="{{user?.age}}">
    </fieldset>
    <fieldset class="form-group">
    <p>Bio</p>
    <textarea name='bio' [(ngModel)]='bio' type='text' class='form-control' placeholder='Bio' value="{{user?.bio}}"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <p>Gender</p>
      <select name='gender' class="custom-select w-100" [(ngModel)]='gender'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <p>Looking For</p>
      <select name='lookingFor' class="custom-select w-100" [(ngModel)]='lookingFor'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let lookingFor of lookingFors" [ngValue]="lookingFor">{{lookingFor}}</option>
      </select>
    </fieldset>

    <button type='submit' class='btn btn-primary btn-block'>Update</button>
  </form>
</div>
