<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="pull-left" [routerLink]="['/user', this.userId]"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <a class="navbar-brand mx-auto" href="#">Account Settings</a>
  </div>
</nav>
<div class='container'>
  <div *ngIf="errorFlag" class="alert alert-danger">
    Something is wrong
  </div>
  <form (ngSubmit)='updateUser()' #f='ngForm'>
    <fieldset class="form-group">
    <p>Photo</p>
    <div class="user--image">
      <img src="{{user?.photo}}"/>
    </div>
    <input name='photo' [(ngModel)]='photo' type='text' class='form-control' placeholder='Photo URL' value="{{user?.photo}}">
    </fieldset>
    <fieldset class="form-group">
    <p>Email</p>
    <input name='email' [(ngModel)]='email' type='text' class='form-control' placeholder='Email' value="{{user?.email}}">
    </fieldset>
    <fieldset class="form-group">
    <p>First Name</p>
    <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder='First Name' value="{{user?.firstName}}">
    </fieldset>
    <fieldset class="form-group">
    <p>Age</p>
    <input name='age' [(ngModel)]='age' type='number' class='form-control' placeholder='Age' value="{{user?.age}}">
    </fieldset>
    <fieldset class="form-group">
    <p>Bio</p>
    <textarea name='bio' [(ngModel)]='bio' type='text' class='form-control' placeholder='Bio' value="{{user?.bio}}"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <p>Gender</p>
      <select name='gender' class="custom-select w-100" [(ngModel)]='gender'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <p>Looking For</p>
      <select name='lookingFor' class="custom-select w-100" [(ngModel)]='lookingFor'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let lookingFor of lookingFors" [ngValue]="lookingFor">{{lookingFor}}</option>
      </select>
    </fieldset>
    <button type="button" (click)='editSchedule()' class='btn btn-seconday btn-block'>Edit Schedule</button>
    <button type='submit' class='btn btn-primary btn-block'>Update</button>
  </form>
</div>
