<div class='container'>
  <h1>Register</h1>
  <form (ngSubmit)='register()' #f='ngForm'>
    <p>Username</p>
    <input name='username' [(ngModel)]='username' type='text' class='form-control' placeholder='Please Enter A Username'>
    <p>Password</p>
    <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Please Enter A Password'>
    <p>First Name</p>
    <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder=''>
    <p>Last Name</p>
    <input name='lastName' [(ngModel)]='lastName' type='text' class='form-control' placeholder=''>
    <p>Age</p>
    <input name='age' [(ngModel)]='age' type='number' class='form-control' placeholder=''>
    <button type='submit' class='btn btn-primary btn-block'>Register</button>
  </form>
</div>

