<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand mx-auto" [routerLink]="['']">Database Project</a>
  </div>
</nav>
<div class='container'>
  <h1>Register</h1>
  <form (ngSubmit)='register()' #f='ngForm'>
    <fieldset class="form-group">
      <p>email</p>
      <input name='username' [(ngModel)]='username' type='text' class='form-control' placeholder='Username'>
    </fieldset>
    <fieldset class="form-group">
      <p>Password</p>
      <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Password'>
    </fieldset>
    <fieldset class="form-group">
      <p>First Name</p>
      <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder='First Name'>
    </fieldset>
    <fieldset class="form-group">
      <p>Age</p>
      <input name='age' [(ngModel)]='age' type='number' class='form-control' placeholder='Age'>
    </fieldset>
    <fieldset class="form-group">
      <p>Bio</p>
      <textarea name='bio' [(ngModel)]='bio' type='text' class='form-control' placeholder='Bio'></textarea>
    </fieldset>
    <fieldset class="form-group">
      <p>Gender</p>
      <select name='gender' class="custom-select w-100" [(ngModel)]='gender'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <p>Looking For</p>
      <select name='lookingFor' class="custom-select w-100" [(ngModel)]='lookingFor'>
        <option disabled [ngValue]="null">Select a gender</option>
        <option *ngFor="let lookingFor of lookingFors" [ngValue]="lookingFor">{{lookingFor}}</option>
      </select>
    </fieldset>
    <button type='submit' class='btn btn-primary btn-block'>Register</button>
  </form>
</div>
