<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="pull-left" [routerLink]="['/user', this.userId]"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <a class="navbar-brand mx-auto">Matches</a>
  </div>
</nav>
<div class="container">
  <div *ngFor="let matchedUser of matchedUsers" class="row match">
    <div class="col-4 match--image">
      <img src="{{matchedUser?.photo}}">
    </div>
    <a [routerLink]="['/user', this.userId, 'matches', getMatchIdFromUser(matchedUser)]">
      <div class="col-8 match--info">
        <p>{{matchedUser?.firstName}}</p>
      </div>
    </a>
  </div>
</div>
