<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <p class="navbar-brand mx-auto">Schedule</p>
  </div>
</nav>
<div class='container'>
  <!-- {{userId}}
  {{scheduleId}} -->
  <div class="schedule__day">
  <h3>Monday</h3>
  <div class="row">
    <div (click)="monday._9 = !monday._9" [ngClass]="{'schedule__hour--active' : monday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="monday._10 = !monday._10" [ngClass]="{'schedule__hour--active' : monday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="monday._11 = !monday._11" [ngClass]="{'schedule__hour--active' : monday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="monday._12 = !monday._12" [ngClass]="{'schedule__hour--active' : monday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="monday._13 = !monday._13" [ngClass]="{'schedule__hour--active' : monday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="monday._14 = !monday._14" [ngClass]="{'schedule__hour--active' : monday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="monday._15 = !monday._15" [ngClass]="{'schedule__hour--active' : monday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="monday._16 = !monday._16" [ngClass]="{'schedule__hour--active' : monday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="monday._17 = !monday._17" [ngClass]="{'schedule__hour--active' : monday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="monday._18 = !monday._18" [ngClass]="{'schedule__hour--active' : monday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="monday._19 = !monday._19" [ngClass]="{'schedule__hour--active' : monday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="monday._20 = !monday._20" [ngClass]="{'schedule__hour--active' : monday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="monday._21 = !monday._21" [ngClass]="{'schedule__hour--active' : monday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Tuesday</h3>
  <div class="row">
    <div (click)="tuesday._9 = !tuesday._9" [ngClass]="{'schedule__hour--active' : tuesday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="tuesday._10 = !tuesday._10" [ngClass]="{'schedule__hour--active' : tuesday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="tuesday._11 = !tuesday._11" [ngClass]="{'schedule__hour--active' : tuesday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="tuesday._12 = !tuesday._12" [ngClass]="{'schedule__hour--active' : tuesday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="tuesday._13 = !tuesday._13" [ngClass]="{'schedule__hour--active' : tuesday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="tuesday._14 = !tuesday._14" [ngClass]="{'schedule__hour--active' : tuesday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="tuesday._15 = !tuesday._15" [ngClass]="{'schedule__hour--active' : tuesday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="tuesday._16 = !tuesday._16" [ngClass]="{'schedule__hour--active' : tuesday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="tuesday._17 = !tuesday._17" [ngClass]="{'schedule__hour--active' : tuesday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="tuesday._18 = !tuesday._18" [ngClass]="{'schedule__hour--active' : tuesday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="tuesday._19 = !tuesday._19" [ngClass]="{'schedule__hour--active' : tuesday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="tuesday._20 = !tuesday._20" [ngClass]="{'schedule__hour--active' : tuesday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="tuesday._21 = !tuesday._21" [ngClass]="{'schedule__hour--active' : tuesday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Wednesday</h3>
  <div class="row">
    <div (click)="wednesday._9 = !wednesday._9" [ngClass]="{'schedule__hour--active' : wednesday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="wednesday._10 = !wednesday._10" [ngClass]="{'schedule__hour--active' : wednesday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="wednesday._11 = !wednesday._11" [ngClass]="{'schedule__hour--active' : wednesday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="wednesday._12 = !wednesday._12" [ngClass]="{'schedule__hour--active' : wednesday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="wednesday._13 = !wednesday._13" [ngClass]="{'schedule__hour--active' : wednesday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="wednesday._14 = !wednesday._14" [ngClass]="{'schedule__hour--active' : wednesday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="wednesday._15 = !wednesday._15" [ngClass]="{'schedule__hour--active' : wednesday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="wednesday._16 = !wednesday._16" [ngClass]="{'schedule__hour--active' : wednesday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="wednesday._17 = !wednesday._17" [ngClass]="{'schedule__hour--active' : wednesday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="wednesday._18 = !wednesday._18" [ngClass]="{'schedule__hour--active' : wednesday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="wednesday._19 = !wednesday._19" [ngClass]="{'schedule__hour--active' : wednesday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="wednesday._20 = !wednesday._20" [ngClass]="{'schedule__hour--active' : wednesday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="wednesday._21 = !wednesday._21" [ngClass]="{'schedule__hour--active' : wednesday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Thursday</h3>
  <div class="row">
    <div (click)="thursday._9 = !thursday._9" [ngClass]="{'schedule__hour--active' : thursday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="thursday._10 = !thursday._10" [ngClass]="{'schedule__hour--active' : thursday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="thursday._11 = !thursday._11" [ngClass]="{'schedule__hour--active' : thursday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="thursday._12 = !thursday._12" [ngClass]="{'schedule__hour--active' : thursday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="thursday._13 = !thursday._13" [ngClass]="{'schedule__hour--active' : thursday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="thursday._14 = !thursday._14" [ngClass]="{'schedule__hour--active' : thursday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="thursday._15 = !thursday._15" [ngClass]="{'schedule__hour--active' : thursday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="thursday._16 = !thursday._16" [ngClass]="{'schedule__hour--active' : thursday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="thursday._17 = !thursday._17" [ngClass]="{'schedule__hour--active' : thursday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="thursday._18 = !thursday._18" [ngClass]="{'schedule__hour--active' : thursday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="thursday._19 = !thursday._19" [ngClass]="{'schedule__hour--active' : thursday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="thursday._20 = !thursday._20" [ngClass]="{'schedule__hour--active' : thursday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="thursday._21 = !thursday._21" [ngClass]="{'schedule__hour--active' : thursday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Friday</h3>
  <div class="row">
    <div (click)="friday._9 = !friday._9" [ngClass]="{'schedule__hour--active' : friday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="friday._10 = !friday._10" [ngClass]="{'schedule__hour--active' : friday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="friday._11 = !friday._11" [ngClass]="{'schedule__hour--active' : friday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="friday._12 = !friday._12" [ngClass]="{'schedule__hour--active' : friday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="friday._13 = !friday._13" [ngClass]="{'schedule__hour--active' : friday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="friday._14 = !friday._14" [ngClass]="{'schedule__hour--active' : friday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="friday._15 = !friday._15" [ngClass]="{'schedule__hour--active' : friday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="friday._16 = !friday._16" [ngClass]="{'schedule__hour--active' : friday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="friday._17 = !friday._17" [ngClass]="{'schedule__hour--active' : friday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="friday._18 = !friday._18" [ngClass]="{'schedule__hour--active' : friday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="friday._19 = !friday._19" [ngClass]="{'schedule__hour--active' : friday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="friday._20 = !friday._20" [ngClass]="{'schedule__hour--active' : friday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="friday._21 = !friday._21" [ngClass]="{'schedule__hour--active' : friday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Saturday</h3>
  <div class="row">
    <div (click)="saturday._9 = !saturday._9" [ngClass]="{'schedule__hour--active' : saturday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="saturday._10 = !saturday._10" [ngClass]="{'schedule__hour--active' : saturday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="saturday._11 = !saturday._11" [ngClass]="{'schedule__hour--active' : saturday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="saturday._12 = !saturday._12" [ngClass]="{'schedule__hour--active' : saturday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="saturday._13 = !saturday._13" [ngClass]="{'schedule__hour--active' : saturday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="saturday._14 = !saturday._14" [ngClass]="{'schedule__hour--active' : saturday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="saturday._15 = !saturday._15" [ngClass]="{'schedule__hour--active' : saturday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="saturday._16 = !saturday._16" [ngClass]="{'schedule__hour--active' : saturday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="saturday._17 = !saturday._17" [ngClass]="{'schedule__hour--active' : saturday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="saturday._18 = !saturday._18" [ngClass]="{'schedule__hour--active' : saturday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="saturday._19 = !saturday._19" [ngClass]="{'schedule__hour--active' : saturday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="saturday._20 = !saturday._20" [ngClass]="{'schedule__hour--active' : saturday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="saturday._21 = !saturday._21" [ngClass]="{'schedule__hour--active' : saturday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <div class="schedule__day">
  <h3>Sunday</h3>
  <div class="row">
    <div (click)="sunday._9 = !sunday._9" [ngClass]="{'schedule__hour--active' : sunday?._9}" class="col-4 schedule__hour"><p>9AM</p></div>
    <div (click)="sunday._10 = !sunday._10" [ngClass]="{'schedule__hour--active' : sunday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div (click)="sunday._11 = !sunday._11" [ngClass]="{'schedule__hour--active' : sunday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div (click)="sunday._12 = !sunday._12" [ngClass]="{'schedule__hour--active' : sunday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div (click)="sunday._13 = !sunday._13" [ngClass]="{'schedule__hour--active' : sunday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div (click)="sunday._14 = !sunday._14" [ngClass]="{'schedule__hour--active' : sunday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div (click)="sunday._15 = !sunday._15" [ngClass]="{'schedule__hour--active' : sunday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div (click)="sunday._16 = !sunday._16" [ngClass]="{'schedule__hour--active' : sunday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div (click)="sunday._17 = !sunday._17" [ngClass]="{'schedule__hour--active' : sunday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
    <div (click)="sunday._18 = !sunday._18" [ngClass]="{'schedule__hour--active' : sunday?._18}" class="col-4 schedule__hour"><p>6PM</p></div>
    <div (click)="sunday._19 = !sunday._19" [ngClass]="{'schedule__hour--active' : sunday?._19}" class="col-4 schedule__hour"><p>7PM</p></div>
    <div (click)="sunday._20 = !sunday._20" [ngClass]="{'schedule__hour--active' : sunday?._20}" class="col-4 schedule__hour"><p>8PM</p></div>
    <div (click)="sunday._21 = !sunday._21" [ngClass]="{'schedule__hour--active' : sunday?._21}" class="col-4 schedule__hour"><p>9PM</p></div>
  </div>
</div>

  <button (click)="saveSchedule()" type='submit' class='btn btn-primary btn-block'>Save Schedule</button>
  <div class="padding"></div>
</div>
