<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
  </div>
</nav>
<div class='container'>
  <!-- {{userId}}
  {{scheduleId}} -->
  <h3>Monday</h3>
  <div class="row">
    <div [ngClass]="{'schedule__hour--active' : monday?._9}" class="col-4 schedule--hour"><p>9AM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._10}" class="col-4 schedule__hour"><p>10AM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._11}" class="col-4 schedule__hour"><p>11AM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._12}" class="col-4 schedule__hour"><p>12PM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._13}" class="col-4 schedule__hour"><p>1PM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._14}" class="col-4 schedule__hour"><p>2PM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._15}" class="col-4 schedule__hour"><p>3PM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._16}" class="col-4 schedule__hour"><p>4PM</p></div>
    <div [ngClass]="{'schedule__hour--active' : monday?._17}" class="col-4 schedule__hour"><p>5PM</p></div>
  </div>

  <button (click)="saveSchedule()" type='submit' class='btn btn-primary btn-block'>Save Schedule</button>
</div>
