<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="pull-left" [routerLink]="['/user', this.userId, 'settings']"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
    <a class="navbar-brand mx-auto" href="#">Database Project</a>
    <a class="pull-right" [routerLink]="['/user', this.userId, 'matches']"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
  </div>
</nav>
<div class="container">
  <div *ngIf="potentialMatch != null;else empty_content" class="user">
    <div class="user--image">
      <img src="{{potentialMatch?.photo}}"/>
    </div>
    <div class="user--info">
      <h3>{{potentialMatch?.firstName}}, {{potentialMatch?.age}}</h3>
      <p>{{potentialMatch?.bio}}</p>
        <div class="swipe--buttons row">
          <div class="col-6"><button (click)="skip()" class='btn btn-danger btn-user'>Skip</button></div>
          <div class="col-6"><button (click)="like()" class='btn btn-success btn-user'>Like</button></div>
        </div>
    </div>
  </div>
  <ng-template #empty_content><div class="container"><p class="text-center">No more users to show.<br><span class="emoji--crying text-center">😭</span></p></div></ng-template>
</div>
