<div class="hp-background">
<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand mx-auto" [routerLink]="['']">Database Project</a>
  </div>
</nav>
<div class='container'>
  <div *ngIf="errorFlag" class="alert alert-danger">
    Username or password did not match
  </div>
  <h1>Login</h1>
  <form (ngSubmit)='login()' #f='ngForm'>
    <fieldset class="form-group">
      <p>Username</p>
      <input name='email' [(ngModel)]='email' type='text' class='form-control' placeholder='Email'>
    </fieldset>
    <fieldset class="form-group">
      <p>Password</p>
      <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Password'>
    </fieldset>
    <button type='submit' class='btn btn-primary btn-block'>Login</button>
    <p class="text-center">Not a member? <a [routerLink]="['/register']"> Register here.</a></p>
  </form>
</div>
</div>
