body {
  font-family: 'Work Sans', sans-serif !important;
}

i.fa {
  color: white;
  font-size: 20px;
}

.hp-background {
  background-image: url('database_pattern.png');
  height: 100vh;
  background-size: contain;
}

.user {
  max-width: 300px;
  margin: auto;
}

.btn-user {
  width: 90%;
  color: white;
}

.btn-user:hover {
  color: white;
}

.user--image {
  text-align: center;
  margin-bottom: 10px;
}
.user--image img {
  object-fit: cover;
  max-width: 100%;
  height: 300px;
  margin-top: 10px;
}

.schedule__day {
  margin: 20px 0px;

}

.schedule__hour--active {
  background: #2610e6;
  color: white;
  border: 1px solid white;
}

.schedule__hour {
  border: 1px solid #2610e6;
  /*border-radius: 500rem;*/
  text-align: center;
}

.emoji--crying {
  font-size: 50px;
}

.match {
  border-bottom: 1px solid #2610e6;
  height: 75px;
}

.match:last-of-type {
  border-bottom: 0px;
}

.match--image, .match--info {
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
}

.match--image img {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 50px;
  border-radius: 500rem;
}

.convo--image {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 50px;
  border-radius: 500rem;
}

.convo__text {
  border-radius: 15px;
  color: white;
  min-height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
}

.convo__text--body {
  vertical-align: middle;
  display: inline-block;
}

.convo__text p {
  margin-bottom: 0px
}

.convo__text--right {
  background: #2610e6;
}

.convo__text--left {
  background: #e9ecef;
  color: black;
}

.convo__messages {
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 65vh;
}

.convo__input {
  background: #e9ecef;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.convo__input fieldset {
  width: 98%;
}

.convo__input textarea {
  overflow: hidden;
}

.convo__date {
  background: black;
  color: white;
  font-size: .8rem;
  margin-top: -16px;
  height: 5vh;
  display: flex;
  align-items: center;
}

.convo__date p {
  margin-bottom: 0px;
}

.navbar__convo {
  height: 20vh;
}
