body {
  font-family: 'Work Sans', sans-serif !important;
}

i.fa {
  color: white;
  font-size: 20px;
}

.hp-background {
  background-image: url('database_pattern.png');
  height: 100vh;
  background-size: contain;
}

.user--image img {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
  margin-top: 10px;
}

.schedule__day {
  margin: 20px 0px;

}

.schedule__hour--active {
  background: #2610e6;
  color: white;
  border: 1px solid white;
}

.schedule__hour {
  border: 1px solid #2610e6;
  /*border-radius: 500rem;*/
  text-align: center;
}
